{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
<div class="flex flex-col items-center gap-10 p-6 md:p-20">
    <div class="flex flex-col items-center gap-5">
        <h6 class="text-h6 font-semibold">Votre panier</h6>
        <a href="{{ path('app_produit_all') }}" class="text-secondary underline">Retour à la liste des produits</a>
    </div>
    {% if data is not empty %}
    <div class="w-full overflow-x-auto">
        <table class="w-full min-w-max">
            <thead>
                <tr class="border-b border-stroke">
                    <th class="py-4 px-2 md:px-4 text-center">Produit</th>
                    <th class="py-4 px-2 md:px-4 text-center">Prix unitaire</th>
                    <th class="py-4 px-2 md:px-4 text-center">Quantité</th>
                    <th class="py-4 px-2 md:px-4 text-center">Total</th>
                    <th class="py-4 px-2 md:px-4 text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr class="border-b border-stroke">
                    <td class="py-6 px-2 md:px-4 text-center">
                        <div class="flex flex-col md:flex-row items-center gap-4">
                            <div class="bg-white p-4 rounded-lg shadow-custom h-36 w-36">
                                <img class="w-full h-full object-contain" src="{{ asset('/img/' ~ item.produit.img) }}" alt="{{ item.produit.nom }}">
                            </div>
                            <div class="flex flex-col gap-4 text-center md:text-left">
                                <p class="text-body-large md:text-body-medium font-semibold">{{ item.produit.nom }}</p>
                            </div>
                        </div>
                    </td>
                    <td class="py-6 px-2 md:px-4 text-center">{{ item.produit.prix }}€</td>
                    <td class="py-6 px-2 md:px-4 text-center">
                        <div class="flex justify-center items-center gap-2">
                            <button class="btn-action remove-from-cart" data-id="{{ item.produit.id }}">-</button>
                            <span>{{ item.quantite }}</span>
                            <button class="btn-action add-to-cart" data-id="{{ item.produit.id }}">+</button>
                        </div>
                    </td>
                    <td class="py-6 px-2 md:px-4 text-center">{{ item.produit.prix * item.quantite }}€</td>
                    <td class="py-6 px-2 md:px-4 text-center">
                        <a href="{{ path('app_panier_delete', { 'id': item.produit.id }) }}" class="text-secondary underline"><i class="fas fa-trash-alt"></i> Supprimer</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="flex flex-col md:flex-row gap-2 items-center justify-end w-full px-4 md:px-24 mt-4">
        <strong>Sous-total :</strong>
        {% set subtotal = 0 %}
        {% for item in data %}
        {% set subtotal = subtotal + (item.produit.prix * item.quantite) %}
        {% endfor %}
        {{ subtotal }} €
        <a href="{{ path('app_commande_valider') }}" class="border border-secondary flex justify-center gap-2 text-body-medium font-regular text-secondary px-2 py-2 rounded-lg ml-4">
            <img src="{{ asset('build/icons/euro-card.png') }}" alt="Icone Euro Card">
            Réserver maintenant
        </a>
    </div>
    <div class="flex w-full px-4 md:px-24 mt-4">
        <a href="{{ path('app_panier_vider') }}" class="text-secondary">Vider le panier</a>
    </div>
    {% else %}
    <p>Votre panier est vide.</p>
    {% endif %}
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const addToCartButtons = document.querySelectorAll('.add-to-cart');
        const removeFromCartButtons = document.querySelectorAll('.remove-from-cart');

        addToCartButtons.forEach(button => {
            button.addEventListener('click', function(event) {
                event.preventDefault();
                const productId = button.getAttribute('data-id');
                const url = `{{ path('app_panier_add', { 'id': '__id__', 'quantity': '__quantity__' }) }}`
                    .replace('__id__', productId)
                    .replace('__quantity__', 1); // Mettez ici la quantité souhaitée
                window.location.href = url;
            });
        });

        removeFromCartButtons.forEach(button => {
            button.addEventListener('click', function(event) {
                event.preventDefault();
                const productId = button.getAttribute('data-id');
                const url = `{{ path('app_panier_remove', { 'id': '__id__', 'quantity': '__quantity__' }) }}`
                    .replace('__id__', productId)
                    .replace('__quantity__', 1); // Mettez ici la quantité souhaitée
                window.location.href = url;
            });
        });
    });
</script>

{% endblock %}
