{% extends 'base.html.twig' %}

{% block title %}Touts les produits{% endblock %}

{% block body %}
    <img class="w-full h-[400px]" src="{{ asset('build/img/banniere_tout_produits.png') }}" alt="bannière page tout les produits">
    <div class="grid grid-cols-5 p-15 gap-4">
        <div class="w-full  p-4 bg-white shadow-md rounded-lg">
            <h2 class="text-xl font-semibold mb-4">Filtrer</h2>
            <div class="relative mb-4">
                <div class="w-full text-gray-700 py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Catégories
                </div>
                <div class="w-full">
                    {% for categorie_m in categorie_ps %}
                        {% if categorie_m.parent is null %}
                            <details class="p-2">
                                <summary class="block px-4 py-2 text-primary-Text hover:bg-secondary hover:text-white cursor-pointer border border-strock rounded">{{ categorie_m.nom }}</summary>
                                {% set has_children = false %}
                                <div class="w-full border border-strock">
                                    <a href="{{ path('app_produit_all', {categorie: categorie_m.id}) }}" class="block px-4 py-2 text-primary-Text hover:bg-secondary hover:text-white ml-4">Tout</a>
                                    {% for categorie_e in categorie_ps %}
                                        {% if categorie_e.parent and categorie_e.parent.id == categorie_m.id %}
                                            {% if not has_children %}
                                                {% set has_children = true %}
                                            {% endif %}
                                            <a href="{{ path('app_produit_all', {categorie: categorie_e.id}) }}" class="block px-4 py-2 text-primary-Text hover:bg-secondary hover:text-white ml-4">{{ categorie_e.nom }}</a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </details>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

        </div>
        <div class="col-span-4 p-5">
            <form method="GET" action="{{ path('app_produit_all') }}">
                <div class="relative mb-4 flex items-center">
                    <label for="sort" class="block text-primary-Text text-sm font-bold mb-2 pr-3">Trier par :</label>
                    <select id="sort" name="sort" class="block px-4 py-2 text-primary-Text cursor-pointer border border-strock rounded appearance-none after:border-strock" onchange="this.form.submit()">
                        <option value="" {% if app.request.get('sort') is empty %}selected{% endif %}>Aucun tri</option>
                        <option value="price_asc" {% if app.request.get('sort') == 'price_asc' %}selected{% endif %}>Prix croissant</option>
                        <option value="price_desc" {% if app.request.get('sort') == 'price_desc' %}selected{% endif %}>Prix décroissant</option>
                        <option value="alpha_asc" {% if app.request.get('sort') == 'alpha_asc' %}selected{% endif %}>Ordre alphabétique (A-Z)</option>
                        <option value="alpha_desc" {% if app.request.get('sort') == 'alpha_desc' %}selected{% endif %}>Ordre alphabétique (Z-A)</option>
                    </select>
                </div>
            </form>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">                
                {% for produit in produits %}
                    <div class="bg-white p-4 rounded-lg shadow-custom">
                        <a href="{{ path('app_produit_details', { 'slug': produit.slug }) }}">
                            <div class='flex justify-center'>
                                <img src="{{ asset('build/img/' ~ produit.img) }}" alt="{{ produit.nom }}" class="h-40 object-cover rounded-t-lg">
                            </div>
                            <div class="mt-2">
                                <h3 class="text-lg font-semibold">{{ produit.nom }} </h3>
                                <p class="text-secondary font-bold">{{ produit.prix }} €</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <!-- Pagination -->
            <div class="mt-8">
                <nav class="flex justify-center">
                    <ul class="inline-flex items-center -space-x-px">
                        <li><a href="#" class="px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700">Précédent</a></li>
                        <li><a href="#" class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">1</a></li>
                        <li><a href="#" class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">2</a></li>
                        <li><a href="#" class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">3</a></li>
                        <li><a href="#" class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700">Suivant</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <script>
    document.addEventListener('DOMContentLoaded', function() {
        const dropdownButton = document.querySelector('.dropdown-button');
        const dropdownMenu = document.querySelector('.dropdown-menu');

        dropdownButton.addEventListener('click', function() {
            dropdownMenu.classList.toggle('hidden');
        });
    });
    </script>
{% endblock %}
