{% extends 'base.html.twig' %}

{% block title %}{{ produit.nom }}{% endblock %}

{% block body %}
    <img class="w-full h-[400px]" src="{{ asset('build/img/banniere_produit.png') }}" alt="bannière page tout les produits">
    <div class="grid grid-cols-2 p-15 gap-32">
        <div class="flex flex-col gap-4">
            <div class="grid grid-cols-3 gap-4 p-4">
                <div class="flex flex-col justify-between col-span-1">
                    <div class="bg-white p-4 rounded-lg shadow-custom h-36">
                        <img class="w-full h-full object-contain" src="{{ asset('build/img/' ~ produit.img) }}" alt="{{ produit.nom }}">
                    </div>
                    <div class="bg-white p-4 rounded-lg shadow-custom h-36">
                        <img class="w-full h-full object-contain" src="{{ asset('build/img/' ~ produit.img) }}" alt="{{ produit.nom }}">
                    </div>
                </div>
                <div class="bg-white p-4 rounded-lg shadow-custom col-span-2 h-80">
                    <img class="w-full h-full object-contain" src="{{ asset('build/img/' ~ produit.img) }}" alt="{{ produit.nom }}">
                </div>
            </div>
            <div class="bg-white p-4 ">
                <div class="p-4 rounded-lg shadow-custom">
                    <h2 class="text-body-large font-semibold">Description :</h2>
                    <p class="text-body-large font-regular">{{ produit.description }}</p>
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-8">
            <div class="bg-white px-6 py-4 rounded-lg shadow-custom">
                <h6 class="font-bold">{{ produit.nom }} - {{ produit.marque }}</h6>
                <p class="text-xl font-bold">{{ produit.prix }} €</p>
                <div class="grid grid-cols-2 gap-4 justify-items-center mt-4">
                    <div class="flex items-center">
                        <label for="quantity" class="mr-2">Quantité</label>
                        <input type="number" id="quantity" name="quantity" value="1" min="1" class="w-16 p-2 border rounded">
                    </div>
                    <div class="flex flex-col gap-2 px-4 w-full">
                        <button class="border border-secondary flex justify-center gap-2 w-full text-body-medium font-regular text-secondary px-2 py-2 rounded-lg mr-2"><img src="{{ asset('build/icons/euro-card.png') }}"></img>Réserver maintenant</button>
                        <button class="bg-secondary text-white flex justify-center gap-2 px-2 py-2 rounded-lg text-body-medium font-regular"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"  class="size-6 hover:text-secondary"><path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" /> </svg>Ajouter au panier</button>
                    </div>
                </div>
            </div>

            <div class="bg-white flex flex-col px-6 py-4 rounded-lg shadow-custom items-center">
                <p class="text-body-large font-semibold">Une fois payé votre produit est réservé en boutique : </p>
                <p class="text-body-large font-semibold"> n'attendez pas pour le récupérer !</p>
                <p class="mt-2 text-secondary">Retrait gratuit en magasin</p>
            </div>

            <div class="bg-white p-4 rounded-lg shadow-custom">
                <h2 class="text-xl font-bold">Découvrir la boutique</h2>
                {% if boutique %}
                    <div class="flex mt-4">
                        <img class="w-32 h-32 object-cover rounded-lg mr-4" src="{{ asset('img/' ~ boutique.getImg()) }}" alt="Logo de {{ boutique.getNom() }}">
                        <div>
                            <h3 class="text-lg font-semibold">{{ boutique.getNom() }}</h3>
                            <p class="text-body-large font-regular">{{ boutique.getAdresse() }}<br>
                                {{ boutique.getCp() }} {{ boutique.getVille() }}</p>
                            <p class="mt-2">{{ boutique.getDescription() }}</p>
                            <button class="bg-secondary text-white px-4 py-2 rounded-lg mt-4">
                                 <a href="{{ path('app_boutique_template', {'slug': boutique.slug}) }}">Je découvre</a>
                            </button>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
