{% extends 'base.html.twig' %}

{% block title %}Confirmation de commande{% endblock %}

{% block body %}
    <h1>Confirmation de la commande</h1>

    <p>Détails de la commande :</p>
    <ul>
        <li>Numéro de commande : {{ commande.id }}</li>
        <li>Date de commande : {{ commande.date|date('d/m/Y H:i') }}</li>
        <li>Total : {{ total }} €</li>
    </ul>

    <p>Liste des produits :</p>
    <ul>
        {% for ligneCommande in commande.getLigneCommande() %}
            <li>
                {{ ligneCommande.getProduit().getNom() }} - 
                Quantité : {{ ligneCommande.getQuantite() }} - 
                Prix unitaire : {{ ligneCommande.getProduit().getPrix() }} €
                <br>
                Magasin :
                <div>
                    <img src="{{ asset(ligneCommande.getProduit().getBoutique().getImg()) }}" alt="{{ ligneCommande.getProduit().getBoutique().getNom() }}" style="max-width: 100px; max-height: 100px;">
                    <h3>{{ ligneCommande.getProduit().getBoutique().getNom() }}</h3>
                    <p>{{ ligneCommande.getProduit().getBoutique().getAdresse() }}</p>
                    <a href="{{ path('app_boutique_template', {'slug': ligneCommande.getProduit().getBoutique().getSlug()})}}">Voir la boutique</a>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/styles.css') }}">
{% endblock %}
