{% extends 'base.html.twig' %}

{% block title %}Mon Compte - Boutique{% endblock %}

{% block body %}
    <div class="flex flex-col md:flex-row">
        <aside class="w-full md:w-72 bg-gray-100 p-4">
            {% include "_partieProfessionnel/_professionnelbarre.html.twig" %}
        </aside>
        <main class="container mx-auto my-6">
            <section class="bg-white shadow-md rounded p-6">
                <h1 class="text-2xl font-semibold mb-4">Ma Boutique</h1>
                {% if boutique %}
                    <div class="overflow-x-auto">
                        <table class="min-w-full table-auto">
                            <thead>
                                <tr class="bg-gray-200 text-gray-600">
                                    <th class="py-2 px-4 text-center">Nom</th>
                                    <th class="py-2 px-4 text-center">Siret</th>
                                    <th class="py-2 px-4 text-center">Adresse</th>
                                    <th class="py-2 px-4 text-center">Code Postal</th>
                                    <th class="py-2 px-4 text-center">Ville</th>
                                    <th class="py-2 px-4 text-center">Image</th>
                                    <th class="py-2 px-4 text-center">Téléphone</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="border-b border-gray-200">
                                    <td class="py-2 px-4">{{ boutique.nom }}</td>
                                    <td class="py-2 px-4 text-center">{{ boutique.numSiret }}</td>
                                    <td class="py-2 px-4">{{ boutique.adresse }}</td>
                                    <td class="py-2 px-4 text-center">{{ boutique.cp }}</td>
                                    <td class="py-2 px-4">{{ boutique.ville }}</td>
                                    <td class="py-2 px-4 text-center">
                                        {% if boutique.img %}
                                            <img src="{{ asset('img/' ~ boutique.img) }}" alt="{{ boutique.nom }}" class="mx-auto h-12 w-12 object-cover rounded-full">
                                        {% else %}
                                            <span>Pas d'image</span>
                                        {% endif %}
                                    </td>
                                    <td class="py-2 px-4 text-center">{{ boutique.tel }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <p class="text-center text-gray-500">Vous n'avez pas encore de boutique.</p>
                {% endif %}
            </section>
        </main>
    </div>
{% endblock %}