{% extends 'base.html.twig' %}

{% block title %}Toutes les boutiques{% endblock %}

{% block body %}

    <div class="w-full h-[400px] bg-cover bg-center" style="background-image: url('/img/boutiques.webp');"></div>

    <div class="flex flex-wrap">
        <div class="w-full lg:w-1/4 p-4 bg-white rounded-lg mt-8 pl-12">
            <div class="flex items-center mb-4">
                <svg class="w-6 h-6 text-black-800 dark:text-whit mr-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M1 5h1.424a3.228 3.228 0 0 0 6.152 0H19a1 1 0 1 0 0-2H8.576a3.228 3.228 0 0 0-6.152 0H1a1 1 0 1 0 0 2Zm18 4h-1.424a3.228 3.228 0 0 0-6.152 0H1a1 1 0 1 0 0 2h10.424a3.228 3.228 0 0 0 6.152 0H19a1 1 0 0 0 0-2Zm0 6H8.576a3.228 3.228 0 0 0-6.152 0H1a1 1 0 0 0 0 2h1.424a3.228 3.228 0 0 0 6.152 0H19a1 1 0 0 0 0-2Z"/>
                </svg>
                <h2 class="text-xl font-semibold mb-4">Filtrer</h2>
            </div>
            <div class="relative mb-4">
                <button class="w-full text-gray-700 py-2 px-4 rounded border border-gray-200 focus:outline-none focus:shadow-outline flex items-center justify-between dropdown-button" type="button">
                    Catégories
                    <svg class="w-4 h-4 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
                    </svg>
                </button>
                <div class="hidden absolute w-full mt-1 rounded bg-white shadow-lg dropdown-menu">
                    {% for categorie_b in categorie_bs %}
                        <a href="{{ path('app_boutique_all', {categorie: categorie_b.id}) }}" class="block px-4 py-2 text-gray-800 hover:bg-secondary hover:text-white">{{ categorie_b.nom }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="w-full lg:w-3/4 p-4 mt-8 pr-12">
            <h2 class="text-3xl text-center font-bold mt-4 mb-16">Toutes les boutiques</h2>
            {% for boutique in boutiques %}
                <div class="bg-white border border-gray-200 rounded-lg p-4 mb-4 flex flex-col md:flex-row">
                    <img src="{{ asset('img/' ~ boutique.img) }}" alt="Image de {{ boutique.nom }}" class="w-full md:w-[270px] h-[203px] object-cover rounded mb-4 md:mb-0 md:mr-4">
                    <div class="flex flex-col justify-between">
                        <h3 class="text-xl font-semibold">{{ boutique.nom }}</h3>
                        <p class="text-gray-600">{{ boutique.adresse }}</p>
                        <p class="text-gray-600">{{ boutique.ville }}, {{ boutique.cp }}</p>
                        <a href="{{ path('app_boutique_template', {'slug': boutique.slug}) }}" class="btn btn-lg btn-primary w-[200px] py-2 mt-4 rounded bg-secondary text-center text-white hover:bg-white hover:text-secondary border border-transparent hover:border-secondary transition duration-300">Je découvre</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const dropdownButton = document.querySelector('.dropdown-button');
            const dropdownMenu = document.querySelector('.dropdown-menu');

            dropdownButton.addEventListener('click', function () {
                dropdownMenu.classList.toggle('hidden');
            });
        });
    </script>
{% endblock %}
