{% extends 'base.html.twig' %}

{% block title %}Toutes les boutiques{% endblock %}

{% block banniere %}
    <div class="w-full h-[400px] bg-cover bg-center" style="background-image: url('/img/boutiques.webp');"></div>
{% endblock %}

{% block breadcrumb %}
    <div class="container px-4 py-4">
        <nav class="flex" aria-label="Breadcrumb">
            <ol class="inline-flex items-center space-x-1 md:space-x-3">
                <li class="inline-flex items-center">
                    <a href="/" class="text-gray-700 hover:text-gray-900 inline-flex items-center">
                        <svg class="w-5 h-5 mr-2.5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 1.993L1 10l9 8.007 9-8.007-9-8.007-9 8.007zm0 2.243L17.385 10 10 16.764 2.615 10 10 4.236z"></path>
                        </svg>
                        Home
                    </a>
                </li>
                <li>
                    <div class="flex items-center">
                        <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M9.707 12l4.647-4.646a.5.5 0 0 0-.708-.708l-5 5a.5.5 0 0 0 0 .708l5 5a.5.5 0 0 0 .708-.708L9.707 12z"></path>
                        </svg>
                        <a href="#" class="ml-1 text-gray-700 hover:text-gray-900 md:ml-2">Category</a>
                    </div>
                </li>
                <li>
                    <div class="flex items-center">
                        <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M9.707 12l4.647-4.646a.5.5 0 0 0-.708-.708l-5 5a.5.5 0 0 0 0 .708l5 5a.5.5 0 0 0 .708-.708L9.707 12z"></path>
                        </svg>
                        <span class="ml-1 text-gray-500 md:ml-2" aria-current="page">Toutes les boutiques</span>
                    </div>
                </li>
            </ol>
        </nav>
    </div>
{% endblock %}

{% block body %}
    <div class="flex">
        <div class="w-full lg:w-1/4 p-4 bg-white shadow-md rounded-lg">
            <h2 class="text-xl font-semibold mb-4">Filtrer</h2>
            <div class="relative mb-4">
                <button class="w-full text-gray-700 py-2 px-4 rounded focus:outline-none focus:shadow-outline dropdown-button" type="button">
                    Catégories
                </button>
                <div class="hidden absolute w-full mt-1 rounded bg-white shadow-lg dropdown-menu">
                    {% for categorie_b in categorie_bs %}
                        <a href="{{ path('app_boutique_all', {categorie: categorie_b.id}) }}" class="block px-4 py-2 text-gray-800 hover:bg-secondary hover:text-white">{{ categorie_b.nom }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>

        
        <div class="w-full lg:w-3/4 p-4">
            <h2 class="text-2xl font-semibold mb-4">Toutes les boutiques</h2>
            {% for boutique in boutiques %}
                <div class="bg-white shadow-md rounded-lg p-4 mb-4 flex">
                    <img src="/img/coolJapan-boutique.jpg" alt="Boutique" class="w-[271px] h-[203px] object-cover rounded mr-4">
                    <div class="flex flex-col justify-between">
                        <h3 class="text-xl font-semibold">{{ boutique.nom }}</h3>
                        <p class="text-gray-600">{{ boutique.adresse }}</p>
                        <p class="text-gray-600">{{ boutique.ville }}, {{ boutique.cp }}</p>
                        <p class="text-gray-700 mt-2"></p>
                        <a href="{{ path('app_boutique_template', {'slug': boutique.slug}) }}" class="bg-secondary text-white py-2 px-4 rounded mt-2">Je découvre</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        const dropdownButton = document.querySelector('.dropdown-button');
        const dropdownMenu = document.querySelector('.dropdown-menu');

        dropdownButton.addEventListener('click', function() {
            dropdownMenu.classList.toggle('hidden');
        });
    });
    </script>
{% endblock %}
