{% extends 'base.html.twig' %}

{% block title %}Boutique index{% endblock %}

{% block body %}
    <div class="flex flex-col md:flex-row">
        <aside class="w-full md:w-72 bg-gray-100 p-4">
            {% include "_partieAdmin/_adminbarre.html.twig" %}
        </aside>

        <main class="flex-1 border border-gray-200 bg-white p-4">
            <h1 class="text-2xl font-bold mb-4">Liste des boutiques</h1>

            <div class="overflow-x-auto">
                <table class="min-w-full table-auto">
                    <thead>
                        <tr class="bg-gray-200 text-gray-600">
                            {% if is_granted('ROLE_SUPER_ADMIN') %}
                                <th class="py-2 px-4 text-center">Id</th>
                            {% endif %}
                            <th class="py-2 px-4 text-center">Nom</th>
                            <th class="py-2 px-4 text-center">Num_siret</th>
                            <th class="py-2 px-4 text-center">Adresse</th>
                            <th class="py-2 px-4 text-center">Cp</th>
                            <th class="py-2 px-4 text-center">Ville</th>
                            <th class="py-2 px-4 text-center">Img</th>
                            <th class="py-2 px-4 text-center">Tel</th>
                            <th class="py-2 px-4 text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for boutique in boutiques %}
                            <tr class="border-b border-gray-200">
                                {% if is_granted('ROLE_SUPER_ADMIN') %}
                                    <td class="py-2 px-4 text-center">{{ boutique.id }}</td>
                                {% endif %}
                                <td class="py-2 px-4">{{ boutique.nom }}</td>
                                <td class="py-2 px-4 text-center">{{ boutique.numSiret }}</td>
                                <td class="py-2 px-4">{{ boutique.adresse }}</td>
                                <td class="py-2 px-4 text-center">{{ boutique.cp }}</td>
                                <td class="py-2 px-4">{{ boutique.ville }}</td>
                                <td class="py-2 px-4">
                                    <img src="{{ asset('/img/' ~ boutique.img) }}" alt="{{ boutique.nom }}" class="mx-auto h-12 w-12 object-cover rounded-full">
                                </td>
                                <td class="py-2 px-4 text-center">{{ boutique.tel }}</td>
                                <td class="py-2 px-4 text-center">
                                    <a href="{{ path('app_boutique_show', {'id': boutique.id}) }}" class="text-blue-500 hover:text-blue-600 mr-2">Gestion</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="9" class="py-4 text-center">Aucune boutique trouvée</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <a href="{{ path('app_boutique_new') }}" class="inline-block mt-6 py-2 px-4 bg-blue-500 text-white rounded hover:bg-blue-600 text-sm">Créer une nouvelle boutique</a>
        </main>
    </div>
{% endblock %}
