{% extends 'base.html.twig' %}

{% block title %}
    {{ boutique.nom }}
{% endblock %}

{% block body %}
    <div class="w-full h-[400px] bg-cover bg-center" style="background-image: url('/img/banniere-fiche-categorie.webp');"></div>
    <div class="container mx-auto px-12 py-12 mt-12">
         <div class="flex flex-col lg:flex-row lg:space-x-8 mb-8">
            <div class="flex-shrink-0 w-full lg:w-1/3 mb-4 lg:mb-0">
                <img src="{{ asset('img/' ~ boutique.img) }}" alt="La photo de {{ boutique.nom }}" class="w-full h-[315px] object-cover shadow-custom">
            </div>

            <div class="bg-white border border-gray-200 p-6 w-full lg:w-2/3 flex flex-col justify-between rounded-lg shadow-md">
                <div>
                    <h2 class="text-3xl font-semibold mb-4 text-black">{{ boutique.nom }}</h2>

                    <div class="flex items-center text-gray-700 text-xl mb-2">
                        <i class="fas fa-map-marker-alt text-primary mr-2"></i>
                        <p>{{ boutique.adresse }}</p>
                    </div>

                    <div class="flex items-center text-gray-700 text-xl mb-4">
                        <i class="fas fa-city text-primary mr-2"></i>
                        <p>{{ boutique.cp }},
                            {{ boutique.ville }}</p>
                    </div>
                </div>
                <div class="mt-4 pt-4 border-t border-gray-300">
                    <h3 class="text-xl font-semibold mb-2 text-primary">Description de la boutique :</h3>
                    <p class="text-gray-600 text-lg leading-relaxed">{{ boutique.description }}</p>
                </div>
            </div>
        </div>

        <div id="map" class="w-full h-[400px] mb-8"></div>

        <script>
            document.addEventListener('DOMContentLoaded', function () {
                // Construction de l'adresse complète pour la requête de géocodage
                var address = "{{ boutique.adresse }}, {{ boutique.cp }}, {{ boutique.ville }}";
                var url = `https://nominatim.openstreetmap.org/search?format=json&q=${encodeURIComponent(address)}`;

                // Faire la requête à l'API de Nominatim
                fetch(url)
                    .then(response => response.json())
                    .then(data => {
                        if (data.length > 0) {
                            var latitude = data[0].lat;
                            var longitude = data[0].lon;

                            // Initialiser la carte avec les coordonnées obtenues
                            var map = L.map('map').setView([latitude, longitude], 13);

                            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                            }).addTo(map);

                            L.marker([latitude, longitude]).addTo(map)
                                .bindPopup('{{ boutique.nom }}<br>{{ boutique.adresse }}<br>{{ boutique.cp }}, {{ boutique.ville }}')
                                .openPopup();
                        } else {
                            console.error('Adresse introuvable');
                        }
                    })
                    .catch(error => console.error('Erreur lors de la requête de géocodage :', error));
            });
        </script>
    </div>

   <div class="py-5 mt-auto bg-vert">
        <div class="container mx-auto px-4 text-center">
            <h2 class="text-3xl font-semibold mb-12 mt-12">Tous les produits de cette boutique</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
                {% for produit in boutique.produits %}
                    <div class="bg-white max-h shadow-md rounded overflow-hidden flex flex-col justify-between">
                        <img src="{{ asset('/img/' ~ produit.img) }}" alt="Image du produit {{ produit.nom }}" class="w-full h-[350px] object-cover mb-4">
                        <div class="px-6 py-4">
                            <h3 class="text-start text-lg font-semibold">{{ produit.nom }}</h3>
                            <p class="text-end text-xl text-gray-700">{{ produit.prix }}
                                €</p>
                        </div>
                        <div class="flex justify-center items-center pb-4">
                            <button class="btn btn-lg btn-primary w-[100px] py-2 px-4 mt-4 rounded bg-secondary text-center text-white hover:bg-white hover:text-secondary border border-transparent hover:border-secondary transition duration-300">
                                <a href="{{ path('app_produit_details', {'slug': produit.slug}) }}">Voir plus</a>
                            </button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
