{% extends 'base.html.twig' %}

{% block title %}CategorieB index{% endblock %}

{% block body %}
    <h1>CategorieB index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Slug</th>
                <th>Img</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie_b in categorie_bs %}
            <tr>
                <td>{{ categorie_b.id }}</td>
                <td>{{ categorie_b.nom }}</td>
                <td>{{ categorie_b.description }}</td>
                <td>{{ categorie_b.slug }}</td>
                <td>{{ categorie_b.img }}</td>
                <td>
                    <a href="{{ path('app_categorie_b_show', {'id': categorie_b.id}) }}">show</a>
                    <a href="{{ path('app_categorie_b_edit', {'id': categorie_b.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categorie_b_new') }}">Create new</a>
{% endblock %}
