<div class="container mx-auto">
    <div class="flex flex-col md:flex-row">
        <aside class="w-full md:w-72 border-l border-gray-200 pl-6 pt-6">
            <div class="flex items-center mb-4">
                  <img src="{{ asset('build/icons/admin.png') }}" alt="Admin" class="w-6 h-6 hover:text-secondary">
                <h1 class="text-xl font-semibold text-black ml-2">Administration du site</h1>
            </div>

            <div class="p-4">
                <h2 class="text-xl font-medium mb-4 flex items-center">
                    <i class="fas fa-tags mr-2"></i>
                    Catégories
                </h2>
                <ul class="space-y-2">
                    <li>
                        <a href="{{ path('app_categorie_b_index') }}" class="flex items-center text-blue-600 hover:text-blue-800">
                            <i class="fas fa-store-alt mr-2"></i>
                            Catégories des boutiques
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('app_categorie_p_index') }}" class="flex items-center text-blue-600 hover:text-blue-800">
                            <i class="fas fa-box mr-2"></i>
                            Catégories des produits
                        </a>
                    </li>
                </ul>
            </div>
            <div class="p-4 mt-4">
                <h2 class="text-xl font-medium mb-4 flex items-center">
                    <i class="fas fa-store mr-2"></i>
                    Boutique
                </h2>
                <ul class="space-y-2">
                    <li>
                        <a href="{{ path('app_boutique_index') }}" class="flex items-center text-blue-600 hover:text-blue-800">
                            <i class="fas fa-tools mr-2"></i>
                            Gestion des boutiques
                        </a>
                    </li>
                </ul>
            </div>
            <div class="p-4 mt-4">
                <h2 class="text-xl font-medium mb-4 flex items-center">
                    <i class="fas fa-users mr-2"></i>
                    Utilisateurs
                </h2>
                <ul class="space-y-2">
                    <li>
                        <a href="{{ path('app_admin_users') }}" class="flex items-center text-blue-600 hover:text-blue-800">
                            <i class="fas fa-user mr-2"></i>
                            Liste des utilisateurs
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
    </div>
</div>
